/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*Color*/
:root {
  --border-bar: #ffc591;
  --baseBgr: #fff5d7;
  --popBgr: #ff9752;
  --textCol: #000000;
  --headerCol: #000000;
}


h1, h2, h5
{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.08em;
}

/*Navbar*/
.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  background-color: var(--baseBgr);
  position: -webkit-static;
  position: static;
  padding-bottom: 0.5rem;
}
.navItem {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  color: var(--headerCol);
  background-color: var(--baseBgr);
  padding: 0.5em;
  border: solid 0.5em var(--popBgr);
  text-decoration: none;
}
.navContainer h2 {
  margin: 0;
  color: inherit;
}

@media only screen and (min-width: 900px) {
  .navContainer {
    display: none;
  }
  
}

/*Content Flexbox-types*/
.contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 100%;
  background-color: var(--baseBgr);
  overflow-y: hidden;
  padding: 0 1rem 0 1rem;
}

.contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  margin: 0rem 1rem 0rem 1rem;
}
.contentContainer h1 {
  background-color: var(--popBgr);
  color: var(--headerCol);
  padding: 1rem 0;
  padding-left: 0.5em;
  margin: 0;
}

.contentItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1em;
  border: 0.5em solid var(--border-bar);
  border-top: 0em;
  color: var(--textCol);
}

/*Scrollbar Styling*/
.scrollIntermediate {
  overflow-y: auto;
  padding-bottom: 1em;
  scrollbar-width: auto;
  scrollbar-color: var(--border-bar) var(--popBgr);
}
.scrollIntermediate::-webkit-scrollbar {
  width: 1em;
}
.scrollIntermediate::-webkit-scrollbar-track {
  background: var(--baseBgr);
}
.scrollIntermediate::-webkit-scrollbar-thumb {
  background-color: var(--border-bar);
  border: 0.25em solid var(--popBgr);
}
.scrollIntermediate::-webkit-scrollbar-thumb:hover {
  background-color: var(--baseBgr);
  border: 0.25em solid var(--popBgr);
}
::-webkit-scrollbar-button:single-button {
  background-color: var(--popBgr);
  display: block;
  border-style: solid;
  height: 0.5em;
  width: 0.5em;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0em 0.5em 0.5em 0.5em;
  border-color: transparent transparent var(--border-bar) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent var(--baseBgr) transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 0.5em 0.5em 0 0.5em;
  border-color: var(--border-bar) transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: var(--baseBgr) transparent transparent transparent;
}
/*Flexbox helpers*/
.flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}
.flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 0px;
  flex: 2 1 0;
}
.flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3 1 0px;
  flex: 3 1 0;
}
.mediaItem .projectText {
  padding-left: 2em;
}
/*Smaller screen Responsiveness*/
@media only screen and (max-width: 1400px){
  .contentItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mediaItem .projectText {
    padding-left: initial;
  }
}
@media only screen and (max-width: 900px) {
  .contentWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    scroll-behavior: smooth;
    overflow-y: scroll;
    padding: 0 0.25rem;
  }

  .contentContainer h1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 1;
  }

  h2 {
    margin: 0.5rem 0;
  }
  p {
    margin: 0.5rem 0;
  }

  .scrollIntermediate {
    /* Makes the last project div not have it's border outside the screen, at least on android chrome */
    padding-bottom: 4rem;
    margin-bottom: -4rem;
  }
  .flex1 {
    flex: 1 1 auto;
  }
  .flex3 {
    flex: 3 1 auto;
  }
}

.headShot {
  margin: 0 2rem;
}
/*Media element styling*/
video {
  /* override other styles to make responsive */
  width: 100% !important;
  height: auto !important;
}

img {
  max-width: 100%;
  /* the margin fixes an offcenter issue */
  margin-left: -0.5rem;
  border: 0.5em solid var(--border-bar);
}

.iframewrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  border: darkblue solid thick;
}
iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

h1 {
  border-bottom: 0.5rem solid var(--border-bar);
}
#projects h2{
  padding:0.5rem 0;
  margin-bottom: -0.5rem;
  margin-top: 0;
  display: flex;
  justify-content: center;
  background-color: var(--border-bar);
}

.linkHelper{
  background-color: var(--border-bar);
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
.navItem:focus,
.navItem:hover {
  background-color: var(--popBgr);
  color: var(--headerCol);
  border: solid 0.5em var(--border-bar);
  -webkit-text-decoration: underline var(--border-bar) 0.25em;
  text-decoration: underline var(--border-bar) 0.25em;
}
/*DarkMode*/
@media (prefers-color-scheme: dark) {
  :root {
    --border-bar: #fff5d7;
    --baseBgr: #000000;
    --textCol: #ffffff;
  }
  
  .navItem {
    color: var(--border-bar);
  }
}
